/********************BEGIN RESET********************/

html,body,p,div,img,h1,h2,h3,h4,h5,li,ul,ol,dl,dd,dt,form,pagele,td,tr,blockquote,iframe {
  margin:0px; 
  padding:0px; 
  border:0px; 
  border-collapse:separate; 
  border-spacing:0px;
}

* :focus { outline: 0; }

/*******************END RESET**************************-*/

.clear {clear: both;}

.cf:before,
.cf:after, 
.col-row:before, 
.col-row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after, 
.col-row:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf, 
.col-row {
    *zoom: 1;
}

.col-row {
	margin-bottom: 20px;
}

.col-row .col-row {
	margin-bottom: 0;
}

html, body, #left, #right {
	height: auto;
}

html, body, #left {
	height: 100%;
	width: 100%;
}

body {
	color: #747474;
	font-size: 18px;
	font-family: Open Sans;
	line-height: 24px;
	background-color: #fff;
}

h1, h2, h3, h5  {
	font-family: Open Sans;
	font-weight: 800;
}

h1 {
	font-size: 50px;
	line-height: 40px;
	color: #67809f;
	text-shadow: 1px 1px #1e1e1e;
}

h2 {
	font-size: 36px;
	color: #5b5b5b;
}

h3 {
	color: #616161;
	font-size: 22px;
	font-weight: normal;
	line-height: 22px;
	margin-bottom: 10px;
}

h4 {
	font-family: Open Sans, Tahoma, Arial, sans-serif;
	color: #67809f;
	font-size: 20px; 
	font-weight: normal;
}

h5 {
	font-size: 22px; 
}

h6 {
	font-family: Arial, sans-serif;
	font-size: 10px; 
	letter-spacing: 0.5px;
}

a {
	color: #67809f;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/********************BEGIN TABLES*****************/	
table { 
	width:100%; 
	text-align: left; 
	border-collapse: collapse;
}

th   { 
	color: #67809f;
	background: #f2f2f2; 
	text-align: left; 
	width: 25%;
}

thead ,th ,tfoot {
    font-style: italic;
    font-weight: normal;
}

th,td,caption { 
	padding: 7px; 
	*border-bottom: 1px dotted #444;
}

tr.even td  {
	*background: #f2f2f2; 
}

caption     {
	color: #67809f;
	border-collapse: collapse;
}
/*****************END TABLES************************/	


/*******************BEGIN MISC*********************/

.separator-noline {
	margin-bottom: 30px;
	margin-top: 0px;
	border: none;
}

.separator-line {
	border: none;
	background: #eaeaea;
	height: 7px;
	margin-bottom: 30px;
	margin-top: 0px;
}

abbr, acronym { 
	border-bottom: 1px solid #929292; 
}

del {
	color:#929292; 
}

pre,code,tt   { 
	font-family: 'lucida console', monospace; 
	color:#929292; 
}

ol li {
	font-size: 12px;
}

/*====NAVIGATION
=======================================================*/

.navigation {
    font-family: Oswald;
    font-size: 21px;
    margin: 6px;
}


/*****************END MISC ************************/

#left {
	width: 20%;
	position: fixed;
	*box-shadow: -1px 0 2px 1px rgba(0, 0, 0, 0.4);
	*-webkit-box-shadow: -1px 0 2px 1px rgba(0, 0, 0, 0.4);
}

#right {
	width: 67%;
	background-color: #fff;
	float: right;
}

/*=== BACKGROUND
==================================================*/

	.plain {
		background: #333;
        border-radius: 4px;
	}

	.darkness {
		background: #2a2a2a;
        color: #aaa;
	}


#content {
	width: 75%;
	padding: 0 20px;
}

.page {
    margin: 0 auto;
    padding: 30px;
    width: 80%;
}

.logo-image {
	float: right;
}

#user {
    float: left;
    font-family: Oswald;
    font-size: 24px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 20px;
}

#copyright {
    bottom: 0;
    color: #777;
    font-size: 12px;
    margin: 0 auto;
    position: absolute;
    *right: 30px;
    text-align: center;
    *text-shadow: 1px 1px #1e1e1e;
    width: 100%;
}

.page h2 {
	text-align: left;
	line-height: 18px;
}

.sub-title {
    border-bottom: 7px solid #333;
    color: #8c8c8c;
    display: block;
    font-family: Oswald;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 40px;
    text-align: left;
    text-transform: uppercase;
}

.page-content {
	width: 610px;
	padding: 30px  10px 30px 30px;
}


/*====BOXES GRID
=======================================================*/
.one-third {
	float: left;
	width: 190px;
	margin-right: 20px;
	margin-bottom: 15px;
}

.two-third {
	float: left;
	width: 400px;
	margin-right: 20px;
	margin-bottom: 15px;
}

.one-half {
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
	width: 295px;
}

.full-width {
	margin-bottom: 15px;
}

.last {
	margin-right: 0px;
}


/*====BUTTONS
=======================================================*/
.boxes a, .post-more-link, .button {
	font-size: 11px;
	color: #f7f7f7;
	padding: 3px 7px;
	background: #67809f;
	display: inline-block;
	margin-bottom: 15px;
}

.boxes a:hover, .post-more-link:hover, .button:hover {
	background: #8c8c8c;
	text-decoration: none;
}

/*====ALIGNMENT
=======================================================*/

.left {
	float: left;
	width: 255px;
	margin-right: 20px;
}

.right {
	float: right;
	width: 255px;
	margin-left: 20px;
}

.image-left {
	float: left;
	margin: 6px 15px 0px 0px;
}

.image-right {
	float: right;
	margin: 6px 0px 0px 15px;
}


/*====LISTS
=======================================================*/
ul.custom-list {
	list-style: none;
	margin-bottom: 15px;
}

ul.custom-list li, ol.custom-list li {
	margin-bottom: 5px;
}

ol li {
	list-style: decimal inside none;
}

.check li {
	background: url(../../img/bullets/check.png) no-repeat 0px 7px;
	padding-left: 18px;	
}

.exclamation li {
	background: url(../../img/bullets/exclamation.png) no-repeat 0px 6px;
	padding-left: 15px;	
}

.arrows li {
	background: url(../../img/bullets/arrow.png) no-repeat 0px 6px;
	padding-left: 15px;	
}

.square li {
	list-style: square inside none;
}

.disc li {
	list-style: disc inside none;
}

code, tt {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 1px 3px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
pre, code {
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    color: #7d7d7d;
    display: inline-block;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 13px;
    line-height: 1.42857;
    *margin: 0 0 10px;
    padding: 3.5px;
    vertical-align: middle;
    width: auto !important;
    word-break: break-all;
    word-wrap: break-word;
}

code-blue {
    background-color: #fff;
    border: 1px solid #e4f1fe;
    border-radius: 4px;
    color: #4183d7;
    display: inline-block;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 13px;
    line-height: 1.42857;
    *margin: 0 0 10px;
    padding: 3.5px;
    vertical-align: middle;
    width: auto !important;
    word-break: break-all;
    word-wrap: break-word;
}


code-red {
    background-color: #f9f2f4;
    border: 1px solid #f9f2f4;
    border-radius: 4px;
    color: #c7254e;
    display: inline-block;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 13px;
    line-height: 1.42857;
    *margin-bottom: 10px;
    *margin-left: 45px;
    margin-top: 0;
    padding: 3.5px;
    vertical-align: middle;
    width: auto !important;
    word-break: break-all;
    word-wrap: break-word;
}

code-shell {
    background-color: #333;
    border: 1px solid #333;
    border-radius: 4px;
    color: #26a65b;
    display: inline-block;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 13px;
    line-height: 1.42857;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 3.5px;
    vertical-align: middle;
    width: auto !important;
    word-break: break-all;
    word-wrap: break-word;
}

code-shell > table > tbody > tr > td {
    border-bottom: 1px dashed #3c3c3c;
    border-right: 1px dashed #3c3c3c;
    padding: 7px;
}
code-shell > table > tbody > tr > td.td-last {
    border-bottom: 1px dashed #3c3c3c;
    border-right: 0px !important;
    padding: 7px;
}
code-shell > table > tbody > tr > td.td-last-child {
    border-bottom: 0px !important;
    border-right: 0px !important;
    padding: 7px;
}
code-shell > table > tbody > tr > td.trtd-last {
    border-bottom: 0px !important;
    border-right: 1px dashed #3c3c3c;
    padding: 7px;
}
code-shell > table > tbody > tr > td.trtd-last-child {
    border-bottom: 0px !important;
    border-right: 0px !important;
    padding: 7px;
}

code-kb {
    background-color: #dcdcdc;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    color: #222;
    display: inline-block;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 13px;
    line-height: 1.42857;
    margin-top: 0;
    padding: 3.5px;
    vertical-align: middle;
    width: auto !important;
    word-break: break-all;
    word-wrap: break-word;
}

.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 13px;
    margin-bottom: 20px;
    padding: 15px;
}
.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

small {
    font-size: 12px;
    line-height: 24px;
}

.disk { padding-left: 55px; border: 1px solid white; width: 100px; padding: 1px; color: #696969; border-radius:8px; -moz-border-radius:8px; }
.used { padding-left: 55px; font-size: 0.750em; display block; background:green; text-align: right; padding: 0 0 0 0; color: #fefefe; }

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
    box-shadow: none;
    display: block;
    margin-bottom: 15px;
}
.progress {
    background-color: #222;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    overflow: hidden;
    width: 100px;
}
.progress .progress-bar.progress-bar-use {
    background-color: #67809f;
}
.progress.active .progress-bar {
    animation: 2s linear 0s normal none infinite running progress-bar-stripes;
}
.progress .progress-bar {
    background-color: #00b1e1;
    box-shadow: none;
}
.progress-striped .progress-bar-use {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-striped .progress-bar {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
.progress-bar-use {
    background-color: #67809f;
}
.progress-bar {
    background-color: #222;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #fff;
    float: left;
    font-size: 10px;
    height: 100%;
    line-height: 20px;
    text-align: center;
    transition: width 0.6s ease 0s;
    width: 0;
}
.sr-only {
    border: 0 none;
    *clip: rect(0px, 0px, 0px, 0px);
    *height: 1px;
    margin-left: 4px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    *width: 1px;
}
#rec_result
{
	font-weight:bold;
	color:#129631;
}

#snd_result
{
	font-weight:bold;
	color:#0E15CF;
}

#rec_graph
{
	width:200px;
	height:auto;
	font-size: 6pt;
}

#snd_graph
{
	width:200px;
	height:auto;
	font-size: 6pt;
}
